@media (max-width: 425px) {
    .itemQuestion {
        text-align: justify;
        font-size: 15px;
        line-height: 20px;
        padding-right: 25px;
    }

    .plusSign {
        font-size: 25px;
    }
  }
  