@media (max-width: 425px) {
    .imagesSection h1 {
        line-height: 35px;
        padding-left: 0;
        padding-right: 0;
    }
    .imagesSection button {
      width: 200px;
      padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2rem;
    }
  
  }
  